#customize-controls .control-section-kathmag .accordion-section-title:hover,
#customize-controls .control-section-kathmag .accordion-section-title:focus {
  background-color: #fff;
}

.rtl .control-section-kathmag .accordion-section-title .button {
  margin-left:  0;
  margin-right: 8px;
}

#accordion-section-kathmag .accordion-section-title .button {
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0 25px 0;
}

#accordion-section-kathmag .accordion-section-title:before{
    content: '';
}

#accordion-section-kathmagdoc .accordion-section-title .button {
    float: right;
}

.customize-control-kathmag-upgrade-text{
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;
}

.customize-control-kathmag-upgrade-text label{
    padding: 0 0 0 26px;
    display: block;
}

.customize-control-kathmag-upgrade-text .dashicons{
    float: left;
    margin-left: -26px;
}

.customize-control-kathmag-upgrade-text ul{
    margin: 8px 0 0 16px;
    font-style: italic;
}

.customize-control-kathmag-upgrade-text ul li{
    margin-bottom: 3px;
    padding-left: 8px;
    line-height: 1.3;
}

.customize-control-kathmag-upgrade-text ul li:before{
    content: '- ';
    margin-left: -8px;
}

.control-section-kathmag-upgrade-section{
    background: #FFF;
    padding: 20px;
    margin: 15px;
}

.control-section-kathmag-upgrade-section .button{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.control-section-kathmag-upgrade-section label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.customize-pane-parent #accordion-section-kathmagdoc .accordion-section-title:before {
	content: "\f331";
}