/**
 * Kathmag RTL CSS
*/

body {
   direction: rtl;
}

.km_general_header .top_header .top_right ul {
    text-align: left;
}

.km_general_header .top_header .top_left ul li {
    margin-right: 0;
    margin-left: 15px;
}

.km_general_header .top_header .top_left ul li:last-child {
    margin-left: 0;
}

.primary_navigation ul {
    text-align: right;
}

.main_navigation .primary_navigation ul li.primarynav_search_icon {
    float: left;
}

.ticker_wrap span.ticker_haeading {
    float: right;
}

.ticker_wrap span.ticker_haeading::after {
    left: -10px;
    right: auto;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.news_ticker {
    float: right;
    padding-right: 15px;
    padding-left: 0;
}

.km_general_header .bottom_header .header_advt {
    text-align: left;
}

.km_banner.km_banner_layout_three .post_fimage .post_meta .posted_date a {
    padding-right: 20px;
    padding-left: 0;
}

.km_banner.km_banner_layout_three .post_fimage .post_meta .posted_date a:before {
    right: 0px;
    top: 0;
    left: auto;
}

.fa-angle-left:before {
    content: "\f105";
}

.fa-angle-right:before {
    content: "\f104";
}

.km_posts_widget_layout_one .right_side_wrapper .image_box {
    float: right;
}

.km_posts_widget_layout_one .right_side_wrapper .contant_box {
    float: right;
    padding-right: 20px;
    padding-left: 0;
}

.post_meta ul li span::before {
    right: 0;
    left:auto;
}

.post_meta ul li span {
    padding-left: 0;
    padding-right: 18px;
    margin-right: 0;
    margin-left:10px;
}

.section_title h2, .section_title h3, 
.section_title h4, .widget_title h2, 
.widget_title h3, .widget_title h4 {
    padding-right: 20px;
    padding-left: 15px;
    border-right: 7px solid #CC1919;
    border-left: 0;
}

.widget_archive a::before, .widget_categories a::before, .widget_recent_entries a::before, .widget_meta a::before, .widget_recent_comments li::before, .widget_rss li:before, .widget_pages li:before, .widget_nav_menu li:before, .widget_product_categories a:before {
    right: 0;
    left: auto;
}

.widget_archive ul li a, .widget_categories ul li a, .widget_product_categories ul li a {
    float: right;
}

.widget_archive a, .widget_categories a, .widget_recent_entries a, .widget_meta a, .widget_recent_comments li, .widget_rss li, .widget_pages li, .widget_nav_menu li, .widget_product_categories a {
    padding-right: 25px;
    padding-lefrt:0;
}

.footer_bottom ul {
    text-align: left;
}

.single .the_content blockquote {
    border-right: 5px solid #CC1919;
    padding-right: 20px;
    border-left: 0;
}
.post_meta ul li.author span {
    margin-left: 0;
    margin-right: 0;
}

.woocommerce span.onsale {
    left: auto;
    right: 0;
}

.woocommerce span.onsale {
    padding: 0;
}

.widget_meta a::before, .widget_nav_menu li:before {
    content: '\f104';
}

@media (min-width: 992px){
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	    float: right;
	}
}

@media (min-width: 768px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	    float: right;
	}
}